# Python
**/.venv/
**/venv/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Node / Tailwind / daisyUI
spring-app/node_modules/
spring-app/.npm/

# Java / Maven / Spring
**/target/
**/build/

# IntelliJ IDEA
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/shelf/
**/*.iws
**/.idea/
**/*.iml

# Variables de entorno
.env
**/.env

# Sistema operativo
.DS_Store
Thumbs.db