# -----------------------------------------------------------------------------
# El Plantío 360 - Variables de entorno locales
# Autor: Marcos Zamorano Lasso
# Práctica 3 - Sistemas Distribuidos
# -----------------------------------------------------------------------------

PLANTIO_GEMINI_ENABLED=true
PLANTIO_GEMINI_MODEL=gemini-2.5-flash
PLANTIO_GEMINI_API_KEY=
